<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../dist/css/foundation.css">
    <meta charset="UTF-8">
    <title>Intuit Accounts - Sign Up</title>
</head>
<body>
<div class="text-right">
    <div><p>Already have an Intuit account? <br> I forgot my user ID and password<a class="button">Sign in</a></p></div>
</div>

<div class="text-center">
    <div class="account">
        <h1>One Account. <br> Everything Intuit.</h1>
        <p>Create an account for all of Intuit's products <br> Including Mint. Learn More</p>
    </div>
<form>
    <div>
    <label>Email address</label>
        <input>
    </div>
    <div>
        <label>Phone (Recommended)</label>
        <input>
    </div>
    <div>
        <label>Password</label>
        <input>
        <p>Standard call, messaging or data rates may apply.</p>
    </div>
<!--<div id="email"><p>Email Address <br></p></div>
    <div id="phone"><p>Phone (recommended) <br></p>
    <p>Standard call, messaging, or data rates may apply.</p></div>
    <div id="password"><p>Password</p></div>-->
</form>
    <div class="button"><p>Create Account</p></div>
</div>
</body>
</html>